@import "tailwindcss";

*{
  box-sizing: border-box;
}

:root{
  --bg-color: #F2F2F2;
  --theme-color : #17A2B6;
  --theme-hover-color : #0e97ac;
}

body{
  background-color: var(--bg-color);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

